<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMO - Emotional Analyzer</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div id="container">
        <h1>EMO - Emotional Analyzer</h1>
        <div class="robot-container">
            <div class="robot"></div>
        </div>
        <div>
            <img class="img" src="../static/7037042.jpg">
            <div class="pic_head">
                <p>-----------Flow of Emotions-----------</p>
            </div>
        </div>
        <form action="/predict" method="POST">
            <label for="text_input">Enter text:</label>
            <textarea id="text_input" name="text_input" rows="4" cols="50" required></textarea><br>
            <button type="submit" class="analyze-btn">Analyze</button>
        </form>

        {% if prediction is defined %}
        <div class="result-container">
            <h2>Analysis Result:</h2>
            <p>Input Text: {{ user_input }}</p>
            {% if predicted_value is defined %}
            <p>Predicted Emotion: {{ predicted_value }}</p>
            {% else %}
            <p>Predicted Emotion: System down</p>
            {% endif %}
        </div>
        {% endif %}

        <button onclick="window.location.href='/contact'" class="help-btn">Any Help?</button>
    </div>

    <script src="../static/scripts.js"></script>
</body>

</html>
